@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '@/styles/_variables.scss';

.bodyStyle {
    margin: 0;
    padding: 20px 100px;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}